In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
from scipy.stats import pearsonr
%matplotlib inline 
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

In [2]:
df=pd.read_csv('car_ad.csv',encoding='cp1252')

In [3]:
# df['pricerange']= pd.Series(np.random.randn(df.shape[0]), index=df.index)
df.head(10)

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,yes,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91,NaN,Other,yes,2013,E-Class,NaN
5,Nissan,16600.0,crossover,83,2.0,Petrol,yes,2013,X-Trail,full
6,Honda,6500.0,sedan,199,2.0,Petrol,yes,2003,Accord,front
7,Renault,10500.0,vagon,185,1.5,Diesel,yes,2011,Megane,front
8,Mercedes-Benz,21500.0,sedan,146,1.8,Gas,yes,2012,E-Class,rear
9,Mercedes-Benz,22700.0,sedan,125,2.2,Diesel,yes,2010,E-Class,rear

In [5]:
try:
    with open('car_ad.csv', 'r') as f:
        ...
except OSError:
    # 'File not found' error message.
    print("File not found")

In [6]:
print(f)

<_io.TextIOWrapper name='car_ad.csv' mode='r' encoding='cp1252'>

In [7]:
# df.sort_values('price',ascending=True)[250:500]#.head(500)
np.amin(df.price)

0.0

In [8]:
new_df = df[['car','body','model']]
new_df.head()

             car       body    model
0           Ford  crossover     Kuga
1  Mercedes-Benz      sedan  E-Class
2  Mercedes-Benz      other   CL 550
3  Mercedes-Benz        van    B 180
4  Mercedes-Benz      vagon  E-Class

In [9]:
from rake_nltk import Rake
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
#new_df.dropna(inplace=True)

blanks = []  # start with an empty list

col=['car','body','model']
for i,col in new_df.iterrows(): 
    if type(col)==str:          
        if col.isspace():         
            blanks.append(i)    

#new_df.drop(blanks, inplace=True)

In [11]:
new_df.set_index('car', inplace = True)
new_df.head()

                    body    model
car
Ford           crossover     Kuga
Mercedes-Benz      sedan  E-Class
Mercedes-Benz      other   CL 550
Mercedes-Benz        van    B 180
Mercedes-Benz      vagon  E-Class

In [12]:
new_df['bag_of_words'] = ''
columns = new_df.columns
for index, row in new_df.iterrows():
    words = ''
    for col in columns:
        if col != 'model':
            words = words + ' '.join(row[col])+ ' '
        else:
            words = words + row[col]+ ' '
    row['bag_of_words'] = words
    
new_df.drop(columns = [col for col in new_df.columns if col!= 'bag_of_words'], inplace = True)

C:\Users\KIIT\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\KIIT\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [13]:
new_df.head()

                           bag_of_words
car
Ford           c r o s s o v e r Kuga
Mercedes-Benz       s e d a n E-Class
Mercedes-Benz        o t h e r CL 550
Mercedes-Benz             v a n B 180
Mercedes-Benz       v a g o n E-Class

In [14]:
count = CountVectorizer()
count_matrix = count.fit_transform(new_df['bag_of_words'])

# creating a Series for the movie titles so they are associated to an ordered numerical
# list I will use later to match the indexes
indices = pd.Series(new_df.index)
indices[:5]
cosine_sim = cosine_similarity(count_matrix, count_matrix)
cosine_sim

array([[1. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 1. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 1. , ..., 0. , 0. , 0. ],
       ...,
       [0. , 0. , 0. , ..., 1. , 0.5, 0. ],
       [0. , 0. , 0. , ..., 0.5, 1. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 1. ]])

In [15]:
def recommendations(Title, cosine_sim = cosine_sim):
    
    recommended_cars = []
    
   
    idx = indices[indices == Title].index[0]

    # creating a Series with the similarity scores in descending order
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    # getting the indexes of the 10  similar cars
    top_10_indexes = list(score_series.iloc[1:6].index)
    
    # populating the list with the titles of the best 10 matching movies
    for i in top_10_indexes:
        recommended_cars.append(list(df.index)[i])
        
    return recommended_cars

def rem(Title):
    y= recommendations(Title)
    rec= []
    for i in range(len(y)):
        rec.append(df.index[y[i]])
    return rec

In [16]:
rem('UAZ')

[7852, 4733, 4344, 3186, 3192]

In [17]:
rem('Honda')

[311, 5724, 965, 2141, 2129]

In [18]:
count = CountVectorizer()
count_matrix = count.fit_transform(new_df['bag_of_words'])

In [19]:
count_matrix.toarray()[0].shape

(752,)

In [20]:
np.unique(df.model).shape

(888,)

In [44]:
from tqdm import tqdm
new_df= pd.read_csv('car_ad.csv',encoding='cp1252')
new_df['new_col'] = range(1, len(new_df) + 1)
new_df.set_index('new_col', inplace=True)
new_df.head()

,car,price,body,mileage,engV,engType,registration,year,model,drive
new_col,,,,,,,,,,
1,Ford,15500.0,crossover,68,2.5,Gas,yes,2010,Kuga,full
2,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,yes,2011,E-Class,rear
3,Mercedes-Benz,35000.0,other,135,5.5,Petrol,yes,2008,CL 550,rear
4,Mercedes-Benz,17800.0,van,162,1.8,Diesel,yes,2012,B 180,front
5,Mercedes-Benz,33000.0,vagon,91,NaN,Other,yes,2013,E-Class,NaN

In [25]:
new_df= new_df.iloc[:9576,:-5]
i= 0
r= []
for _ in tqdm(range(0, len(new_df.index))):
    temp= rem(new_df.car.tolist()[i])
    r.append(temp);
    i+= 1

100%|██████████████████████████████████████████████████████████████████████████████| 9576/9576 [02:36<00:00, 61.38it/s]

In [43]:
r.index+=1
r

         0     1     2     3     4
1     5040  1073  6603  2588  7298
2     4182  2279   211   834  1722
3     4182  2279   211   834  1722
4     4182  2279   211   834  1722
5     4182  2279   211   834  1722
6      668  1257    21   229  9495
7      311  5724   965  2141  2129
8     1498  6114  6774   961  6364
9     4182  2279   211   834  1722
10    4182  2279   211   834  1722
11     668  1257    21   229  9495
12    4182  2279   211   834  1722
13    4182  2279   211   834  1722
14    3807   331  3524    13  6719
15    4182  2279   211   834  1722
16    3807   331  3524    13  6719
17    3807   331  3524    13  6719
18    4182  2279   211   834  1722
19     668  1257    21   229  9495
20    3807   331  3524    13  6719
21    1442   483  6932  1977  4299
22     668  1257    21   229  9495
23    3807   331  3524    13  6719
24    3807   331  3524    13  6719
25    3807   331  3524    13  6719
26    3807   331  3524    13  6719
27    4182  2279   211   834  1722
28    3807   331  3524    13  6719
29    3807   331  3524    13  6719
30    4182  2279   211   834  1722
...    ...   ...   ...   ...   ...
9547  3915  2053  3340  5905  7308
9548  2941  5477  2386  2318  2160
9549   220  4816  4486  4626  7594
9550  6165  1384  4606  1674  1927
9551  3807   331  3524    13  6719
9552  4498  7036  4643   120  1880
9553  7725   627  1811  3884  1819
9554  3915  2053  3340  5905  7308
9555  6733  6087  8571  3338  2918
9556  4182  2279   211   834  1722
9557   738  3189  3195  3194  3193
9558  2478  3303  2544  9217  5686
9559  8217  4279   677  1849  3439
9560  1836   955  6801    66    87
9561  2478  3303  2544  9217  5686
9562  2465  2333  3378  2196  8881
9563  8217  4279   677  1849  3439
9564  6165  1384  4606  1674  1927
9565  2478  3303  2544  9217  5686
9566  4182  2279   211   834  1722
9567  7852  4733  4344  3186  3192
9568  1272   846  1140  6097  5203
9569  4182  2279   211   834  1722
9570  2478  3303  2544  9217  5686
9571  1836   955  6801    66    87
9572  2465  2333  3378  2196  8881
9573  2478  3303  2544  9217  5686
9574  4182  2279   211   834  1722
9575  1066   531   388  7697  7057
9576  5236  8468  5245  9367  9365

[9576 rows x 5 columns]

In [45]:
new_df= pd.concat([new_df, r], axis=1, ignore_index=True)

In [47]:
new_df.to_csv("Car_recommendation.csv")

In [48]:
new_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
1,Ford,15500.000,crossover,68,2.50,Gas,yes,2010,Kuga,full,5040,1073,6603,2588,7298
2,Mercedes-Benz,20500.000,sedan,173,1.80,Gas,yes,2011,E-Class,rear,4182,2279,211,834,1722
3,Mercedes-Benz,35000.000,other,135,5.50,Petrol,yes,2008,CL 550,rear,4182,2279,211,834,1722
4,Mercedes-Benz,17800.000,van,162,1.80,Diesel,yes,2012,B 180,front,4182,2279,211,834,1722
5,Mercedes-Benz,33000.000,vagon,91,NaN,Other,yes,2013,E-Class,NaN,4182,2279,211,834,1722
6,Nissan,16600.000,crossover,83,2.00,Petrol,yes,2013,X-Trail,full,668,1257,21,229,9495
7,Honda,6500.000,sedan,199,2.00,Petrol,yes,2003,Accord,front,311,5724,965,2141,2129
8,Renault,10500.000,vagon,185,1.50,Diesel,yes,2011,Megane,front,1498,6114,6774,961,6364
9,Mercedes-Benz,21500.000,sedan,146,1.80,Gas,yes,2012,E-Class,rear,4182,2279,211,834,1722
10,Mercedes-Benz,22700.000,sedan,125,2.20,Diesel,yes,2010,E-Class,rear,4182,2279,211,834,1722
11,Nissan,20447.154,crossover,0,1.20,Petrol,yes,2016,Qashqai,front,668,1257,21,229,9495
12,Mercedes-Benz,20400.000,sedan,190,1.80,Gas,yes,2011,E-Class,rear,4182,2279,211,834,1722
13,Mercedes-Benz,22500.000,sedan,164,1.80,Gas,yes,2012,E-Class,rear,4182,2279,211,834,1722
14,BMW,4700.000,sedan,200,NaN,Petrol,yes,1996,316,rear,3807,331,3524,13,6719
15,Mercedes-Benz,21500.000,sedan,159,1.80,Gas,yes,2012,E-Class,rear,4182,2279,211,834,1722
16,BMW,19999.000,sedan,290,4.80,Petrol,yes,2006,750,rear,3807,331,3524,13,6719
17,BMW,129222.000,sedan,2,5.00,Petrol,yes,2016,750,full,3807,331,3524,13,6719
18,Mercedes-Benz,99999.000,crossover,0,3.00,Petrol,yes,2016,GLE-Class,full,4182,2279,211,834,1722
19,Nissan,16600.000,crossover,83,2.00,Petrol,yes,2013,X-Trail,full,668,1257,21,229,9495
20,BMW,73900.000,sedan,57,4.40,Petrol,yes,2013,M5,rear,3807,331,3524,13,6719
21,Land Rover,0.000,crossover,0,4.40,Diesel,yes,2016,Range Rover,full,1442,483,6932,1977,4299
22,Nissan,26033.553,crossover,0,1.60,Diesel,yes,2016,X-Trail,full,668,1257,21,229,9495
23,BMW,104999.000,crossover,2,3.00,Diesel,yes,2016,X5,full,3807,331,3524,13,6719
24,BMW,66500.000,crossover,1,2.00,Diesel,yes,2016,X5,full,3807,331,3524,13,6719
25,BMW,65099.000,crossover,0,2.00,Diesel,yes,2016,X5,full,3807,331,3524,13,6719
26,BMW,23900.000,crossover,235,3.00,Diesel,yes,2007,X5,full,3807,331,3524,13,6719
27,Mercedes-Benz,69999.000,crossover,0,2.20,Diesel,yes,2016,GLE-Class,full,4182,2279,211,834,1722
28,BMW,66200.000,crossover,70,3.00,Diesel,yes,2014,X5,full,3807,331,3524,13,6719
29,BMW,63000.000,crossover,0,2.00,Diesel,yes,2015,X5,full,3807,331,3524,13,6719
30,Mercedes-Benz,105999.000,crossover,0,2.98,Diesel,yes,2016,GLE-Class,full,4182,2279,211,834,1722
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9547,VAZ,907.725,sedan,1,NaN,Other,yes,1986,2106,rear,3915,2053,3340,5905,7308
9548,Mitsubishi,12900.000,sedan,40,2.00,Petrol,yes,2013,Lancer Evolution,full,2941,5477,2386,2318,2160
9549,Infiniti,34600.000,crossover,31,2.50,Petrol,yes,2014,QX50,full,220,4816,4486,4626,7594
9550,Skoda,9899.000,vagon,174,1.60,Diesel,no,2012,Superb,front,6165,1384,4606,1674,1927
9551,BMW,44800.000,sedan,63,4.40,Petrol,yes,2012,750,rear,3807,331,3524,13,6719
9552,Opel,10450.000,van,98,2.00,Diesel,yes,2013,Vivaro ãðóç.,front,4498,7036,4643,120,1880
9553,Fiat,4500.000,van,190,1.90,Diesel,yes,2001,Doblo ïàññ.,front,7725,627,1811,3884,1819
9554,VAZ,2750.000,sedan,130,1.50,Gas,yes,2007,21099,front,3915,2053,3340,5905,7308
9555,ZAZ,2100.000,sedan,68,1.20,Petrol,yes,2006,1103 Ñëàâóòà,front,6733,6087,8571,3338,2918
9556,Mercedes-Benz,2499.000,hatch,201,1.70,Diesel,no,2001,A 170,front,4182,2279,211,834,1722
9557,Citroen,12700.000,other,86,1.60,Petrol,yes,2012,Grand C4 Picasso,front,738,3189,3195,3194,3193
9558,Volkswagen,9900.000,other,178,2.50,Diesel,yes,2007,T5 (Transporter) ïàññ.,front,2478,3303,2544,9217,5686
9559,Chevrolet,5600.000,hatch,159,1.60,Petrol,yes,2008,Lacetti,front,8217,4279,677,1849,3439
9560,Toyota,21900.000,sedan,88,2.50,Petrol,yes,2012,Camry,front,1836,955,6801,66,87
9561,Volkswagen,7900.000,other,168,1.90,Diesel,yes,2006,T5 (Transporter) ïàññ.,front,2478,3303,2544,9217,5686
9562,Hyundai,5200.000,other,250,2.50,Diesel,yes,2005,H1 ïàññ.,rear,2465,2333,3378,2196,8881
9563,Chevrolet,3250.000,sedan,200,1.60,Petrol,yes,2007,Aveo,front,8217,4279,677,1849,3439
9564,Skoda,6100.000,vagon,84,1.20,Petrol,yes,2007,Fabia,front,6165,1384,4606,1674,1927
9565,Volkswagen,9300.000,van,176,1.90,Diesel,yes,2005,T5 (Transporter) ïàññ.,front,2478,3303,2544,9217,5686
9566,Mercedes-Benz,8900.000,hatch,155,1.50,Petrol,yes,2005,A 150,front,4182,2279,211,834,1722
9567,UAZ,850.000,van,255,NaN,Other,yes,1981,3962,NaN,7852,4733,4344,3186,3192
9568,Jeep,13990.000,crossover,210,3.00,Diesel,yes,2006,Grand Cherokee,full,1272,846,1140,6097,5203
9569,Mercedes-Benz,5000.000,vagon,248,2.00,Gas,yes,1996,E-Class,rear,4182,2279,211,834,1722
9570,Volkswagen,18000.000,crossover,155,2.00,Diesel,yes,2011,Tiguan,full,2478,3303,2544,9217,5686
9571,Toyota,14474.000,crossover,115,2.00,Petrol,yes,2007,Rav 4,full,1836,955,6801,66,87
9572,Hyundai,14500.000,crossover,140,2.00,Gas,yes,2011,Tucson,front,2465,2333,3378,2196,8881
9573,Volkswagen,2200.000,vagon,150,1.60,Petrol,yes,1986,Passat B2,front,2478,3303,2544,9217,5686
9574,Mercedes-Benz,18500.000,crossover,180,3.50,Petrol,yes,2008,ML 350,full,4182,2279,211,834,1722
9575,Lexus,16999.000,sedan,150,3.50,Gas,yes,2008,ES 350,front,1066,531,388,7697,7057
9576,Audi,22500.000,other,71,3.60,Petrol,yes,2007,Q7,full,5236,8468,5245,9367,9365

In [50]:
new_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
1,Ford,15500.0,crossover,68,2.5,Gas,yes,2010,Kuga,full,5040,1073,6603,2588,7298
2,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,yes,2011,E-Class,rear,4182,2279,211,834,1722
3,Mercedes-Benz,35000.0,other,135,5.5,Petrol,yes,2008,CL 550,rear,4182,2279,211,834,1722
4,Mercedes-Benz,17800.0,van,162,1.8,Diesel,yes,2012,B 180,front,4182,2279,211,834,1722
5,Mercedes-Benz,33000.0,vagon,91,NaN,Other,yes,2013,E-Class,NaN,4182,2279,211,834,1722

In [52]:
new_df=pd.read_csv('Car_recommendation.csv')

In [53]:
new_df.head()

,Sl No.,car,price,body,mileage,engV,engType,registration,year,model,drive,R1,R2,R3,R4,R5
0,1,Ford,15500.0,crossover,68,2.5,Gas,yes,2010,Kuga,full,5040,1073,6603,2588,7298
1,2,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,yes,2011,E-Class,rear,4182,2279,211,834,1722
2,3,Mercedes-Benz,35000.0,other,135,5.5,Petrol,yes,2008,CL 550,rear,4182,2279,211,834,1722
3,4,Mercedes-Benz,17800.0,van,162,1.8,Diesel,yes,2012,B 180,front,4182,2279,211,834,1722
4,5,Mercedes-Benz,33000.0,vagon,91,NaN,Other,yes,2013,E-Class,NaN,4182,2279,211,834,1722